@{
    ViewBag.Title = "About";
}
<main class="container mt-5" aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>*@
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-success">Welcome to Community Booster!</h2>
            <p class="lead">Community Booster is the ultimate life support app that you'll quickly become addicted to. We encourage you to post and participate in various activities, and it's perfectly okay to ask for help from your close neighbors. Here's what you can look forward to:</p>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 70rem;">
        <div class="card-header text-success">Fun Section</div>
        <div class="card-body text-secondary">
            <p class="card-text">Explore and join a wide range of free activities happening in your community or residential district. Whether it's a party, wedding, group exercise, yard sale, or open house, there's always something exciting going on. Discover new events and connect with your neighbors in fun and engaging ways.</p></p>
        </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 70rem;">
        <div class="card-header text-success">Fare Section</div>
        <div class="card-body text-secondary">
            <p class="card-text">Post your needs and find reasonably priced services offered by your neighbors. Whether you need food delivery, tool lending, or handyman and technician services, this section allows you to get help or offer your skills for instant jobs. It's a fantastic way to support and be supported by your community.</p>
        </div>
    </div>


    <div class="card border-light mb-3" style="max-width: 70rem;">
        <div class="card-header text-success">My Events Page</div>
        <div class="card-body text-secondary">
            <p class="card-text" >Keep track of all the events and tasks you're involved in, both the ones you created and those you're participating in. See who else has joined your events and tasks, making it easy to connect and collaborate with your neighbors.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">Enjoy this app to the fullest, fostering more interactions with your neighbors. Get to know each other, share the joy of helping one another, and build a stronger, happier community together.</p>
        </div>
    </div>
</main>